<!-- select fields. select will be with radio and  when you choice one of select, list  of brewery will be only inforamtio form your select and secound select will be block  -->
<div *ngFor="let item of selects; let i = index">
  <label for=" {{ i }} ">
    <app-select [list]="selects[i]" (send)="import($event)"> </app-select>
  </label>
  <input type="radio" id=" {{ i }} " name="select" />
</div>
<!-- table with brewery, row will be  separate component with all information brewery-->
<div class="container text-center border border-primary" *ngFor="let brewery of breweryList; let i = index">
    <div class="row" *ngIf="brewery.city == query || brewery.state == query || query == ''&& i<15">
      <span class="col-sm border border-primary">{{i+1}}</span>
      <p class="col-sm border border-primary" >{{brewery.name}}</p>
      <p class="col-sm border border-primary">{{brewery.id}}</p>
      <p class="col-sm border border-primary">{{brewery.phone}}</p>
      <p class="col-sm border border-primary">{{brewery.website_url}}</p>
    </div>
</div>
<app-brewery-data></app-brewery-data>
